@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
body {
  background-color: #eeeeee;
}
#container {
  margin: 0 auto;
  width: 90%;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (min-width: 800px) {
  #container {
    width: 50em;
  }
}
#header {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
  padding: 0 1em 0 1em;
  /*background-color: #C1CC9A;
	border: 1px solid #BBBBBB;
    border-radius: 10px;*/
}
#header h2 {
  color: #7984C7;
}
#content {
  overflow: hidden;
  margin: 0 5px 0 5px;
  padding: 10px;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  border-radius: 5px;
}
#menu {
  clear: both;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 10px 0;
  border: 1px solid #BBBBBB;
  background-color: #FFFABA;
}
#menu h3 {
  display: inline-block;
  margin: 3px 10px 3px 1em;
  padding-right: 10px;
  float: left;
  color: #777777;
}
#menu ul {
  list-style-type: none;
  margin: 0 5px 0 5px;
  padding-left: 10px;
  color: #7984C7;
  display: inline-block;
  float: left;
  font-size: 0;
}
#menu ul li {
  margin: 0;
  font-size: initial;
  display: inline-block;
}
li.sep {
  border-left: 1px solid #BBBBBB;
  margin: 0;
  width: 0;
}
#menu ul li:hover {
  background-color: #FFEAAA;
}
#menu ul li ul {
  background-color: #FFFABA;
  display: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-top: 1px solid #BBBBBB;
}
#menu ul li ul li {
  margin: 0;
  padding: 0 0 4px 0;
  float: none;
  display: block;
  border-bottom: 1px solid #BBBBBB;
  padding-left: 0.5em;
  border-right-width: 0;
}
#menu ul li ul li:before {
  content: " ";
  border-color: transparent #008FB2;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: 0;
  top: 1.2em;
  position: relative;
}
#menu ul li:hover ul {
  display: block;
}
.menu-1-level {
  padding: 5px 10px 5px 10px;
}
.menu-2-level {
  padding: 5px 10px 5px 10px;
}
#menu a,
a:visited {
  text-decoration: none;
  color: #7984C7;
}
#menu a:hover {
  text-decoration: underline;
  color: #AAAAFF;
}
#menu a:active {
  text-decoration: none;
  color: #4444FF;
}
.menu-2-level {
  font-size: smaller;
}
#footer {
  border-top: 1px solid #DDDDDD;
  margin-top: 20px;
  padding: 10px;
  clear: both;
  color: #BBBBBB;
  font-size: small;
  text-align: center;
  overflow: hidden;
}
#page-source, #page-source a {
  color: #BBBBBB;
  font-size: small;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
#copyright {
  font-style: italic;
}
.center-text {
  text-align: center;
}
#logo-w3 {
  float: right;
}
.entry {
  border-bottom: 1px solid #BBBBBB;
}
.entry-header {}

.entry-content {
  margin-bottom: 0.5em;
}
.entry-content table,
td,
th {
  border: 1px solid #BBBBBB;
}
.entry-content #iframe {
  text-indent: 0;
  width: 90%;
  height: 20em;
}

#rect {
  margin-top: 2em;
  width: 2em;
  height: 2em;
  display: inline-block;
  background-color: green;
  position: relative;
}