@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
#container {
		margin: 0 auto;
		width: 40em;
		font-family: 'Open Sans', sans-serif;
}
#header {
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #8888FF;
		clear: both;
}
#header h2 {
		color: #8888FF;
}
#content {
		overflow: hidden;
}
#footer {
		border-top: 1px solid #DDDDDD;
		margin-top: 20px;
		padding: 10px;
		clear: both;
		color: #BBBBBB;
		font-size: small;
		text-align: center;
		overflow: hidden;
}
#my-image {
		float: right;
		width: 8em;
		margin: 1em;
}
#page-source a {
		color: #000000;
		text-decoration: none;
}
#logo-w3 {
		float: right;
}
table table {
		width: 100%;
}
.row {
		display: block;
}
.left-col {
		display: inline-block;
		width: 12em;
		font-weight: bold;
}
.td-left-col {
		width: 12em;
		font-weight: bold;
}
.right-col {
		display: inline-block;
}
.row-sep {
		border-top: 1px solid #CCCCFF;
		margin: 1.5em 0 1.5em 0;
}
.row-header {
		font-variant: small-caps;
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 1em;
}
