.char-counter {
  font-size:smaller;
  color: gray;
  font-style: italic;
}

label {
  font-weight: bolder;
}


.no-indent {
  text-indent: 0;
}

.row {
  margin: 5px;
}
.vspace {
  padding-top: 1em;
}

.row > :first-child {
  display: inline-block;
  width: 10em;
  vertical-align: top;
}

#comment {
  display: inline-block;
  width: 40em;
  height: 5em;
  max-width: 40em;
}

.center {
  text-align: center;
}
#submit {
  margin-top: 2em;
  display: inline-block;
  width: 15em;
}

.invalid {
  border-color: red;
}

.asterisk:after {
  color: red;
  font-size: small;
  content: "*";
}

.block-align {
  display: inline-block;
  width: 30em;
}

#prog-int {
  padding: 1em;
  background-color: #aaa;
  border-color: #999;
  position: fixed;
  right: 0;
  bottom: 0;
}

.calendar {
  font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
  font-size: 0.9em;
  background-color: #EEE;
  color: #333;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 0.2em;
  width: 14em;
}

.calendar .months {
  background-color: #F6AF3A;
  border: 1px solid #E78F08;
  border-radius: 4px;
  color: #FFF;
  padding: 0.2em;
  text-align: center;
}

.calendar .prev-month,
.calendar .next-month {
  padding: 0;
}

.calendar .prev-month {
  float: left;
}

.calendar .next-month {
  float: right;
}

.calendar .current-month {
  margin: 0 auto;
}

.calendar .months .prev-month,
.calendar .months .next-month {
  color: #FFF;
  text-decoration: none;
  padding: 0 0.4em;
  border-radius: 4px;
  cursor: pointer;
}

.calendar .months .prev-month:hover,
.calendar .months .next-month:hover {
  background-color: #FDF5CE;
  color: #C77405;
}

.calendar table {
  border-collapse: collapse;
  padding: 0;
  font-size: 0.8em;
  width: 100%;
}

.calendar th {
  text-align: center;
}

.calendar td {
  text-align: right;
  padding: 1px;
  width: 14.3%;
}

.calendar td span {
  display: block;
  color: #1C94C4;
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  text-decoration: none;
  padding: 0.2em;
  cursor: pointer;
}

.calendar td span:hover {
  color: #C77405;
  background-color: #FDF5CE;
  border: 1px solid #FBCB09;
}

.calendar td.today span {
  background-color: #FFF0A5;
  border: 1px solid #FED22F;
  color: #363636;
}
