.entry-content iframe {
  max-width: 100%;
}

#map-canvas {
  height: 400px;
}

#markers > div {
  overflow: hidden;
  margin-bottom: 0.2em;
}

#markers > div > span {
  vertical-align: middle;
}
#markers > div > span >div {
  display: inline;
}

.inline {
  display: inline-block;
}

.box {
  border: 1px solid #aaaaaa;
  margin: 0.5em;
  padding: 0.5em;
}

.darker-bg {
  background-color: #eeeeee;
  margin-left: 0.5em;
  padding: 5px;
  display: inline-block;
}

.button-box {
  width: 50px;
  display: inline-block;
  overflow: hidden;
  margin-right: 0.5em;
  vertical-align: middle;
}

.left {
  float: left;
}
.right {
  float: right;
}

.btn-rem {
  float: right;
  vertical-align: middle;
}

.hidden {
  display: none;
  visibility: hidden;
}